@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}
.app {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

.nav-mobile {
    @media screen and (max-width: 650px) {
        display: none;
    }
}

.nav-item {
    cursor: pointer;
}

#tsparticles {
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 100%;
}

.mobile-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -999;
    background: rgba(17, 24, 39);
}

.line-animation {
    margin-left: 5%;
}

[data-aos="width-expand"] {
    width: 0%;
    transition-property: width;
    &.aos-animate {
        width: 100%;
    }
    @media screen and (max-width: 650px) {
        &.aos-animate {
            width: 90%;
        }
    }
}

.about-container {
    height: 800px;
    background: #fff;
    padding-top: 5rem;
    font-size: 1.25rem;
    @media screen and (max-width: 650px) {
        height: 1000px;
        padding-top: 1rem;
    }
}

.about-content {
    width: 1200px;
    @media screen and (max-width: 650px) {
        width: 100%;
        font-size: 1rem;
    }
}

.category-container {
    gap: 5rem;
    font-size: 2.25rem;
    @media screen and (max-width: 650px) {
        gap: 2rem;
        font-size: 1.5rem;
    }
}

.technologies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media screen and (max-width: 650px) {
        flex-wrap: wrap;
    }
}

.project-container {
    height: 800px;
    @media screen and (max-width: 650px) {
        height: 1300px;
    }
}

.project-card {
    max-width: 500px;
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    will-change: box-shadow, border;
    @media screen and (max-width: 650px) {
        max-width: 300px;
    }
}

.project-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border: 1px solid white; 
}

.img-container {
    border-radius: 5px;
    width: 100%;
    height: auto;
    border: 1px solid gainsboro;
}

.title-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.link {
    will-change: color;
}

.link:hover {
    color: gray;
}
